
 <header class="v-header container">




        <div class="header-overlay"></div>

        <div class="header-content">
             <h1>Welcome to Yadawy.com</h1>
             <p>
                  The first Egyptian online website to bring all the handmade products and services to the lights.
             </p>
             <a href="#Why_Yadawy?" class="btn">Read More</a>


        </div>
 
    </header>

    <script>
            /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
              function myFunction() {
              var x = document.getElementById("Nav1");
              if (x.className === "NavigationBar") {
                  x.className += " responsive";
              } else {
                  x.className = "NavigationBar";
              }
          }
    </script>

    <br/>
    <div style="text-align: center;">
        <span class="dots" onclick=currentSlide(1)></span>
        <span class="dots" onclick=currentSlide(2)></span>
        <span class="dots" onclick=currentSlide(3)></span>
    </div>

    <script type="text/javascript">
    var slideIndex=1;
    
    showVideo(slideIndex);
    setInterval(nextSlide, 10000);

    function nextSlide(){
        var slide= document.getElementsByClassName("fullscreen-video-wrap");
        if (slideIndex>=slide.length) {slideIndex=0};
        slideIndex++;
        showVideo(slideIndex);
    }

    function currentSlide(n){
        showVideo(slideIndex=n);
    }

    function showVideo(n){
        var slide= document.getElementsByClassName("fullscreen-video-wrap");
        var dots= document.getElementsByClassName("dots");
       
        if (n>slide.length){slideIndex=1};
        if (n<1) {slideIndex= slide.length};

        for (var i=0; i<slide.length; i++)
        {
            slide[i].style.display= "none";
        };
        slide[slideIndex-1].style.display="block";
           
        for (var i=0; i<dots.length; i++)
        {
            dots[i].className= dots[i].className.replace(" active", "");
        };
        dots[slideIndex-1].className += " active";  
    }
    </script>

    <section class="section section-a">
        <div class="container">
            <h1>Yadawy App Soon!</h1>
            <p>
                    As mobile apps are better and faster, we are happily announcing that soon you'll be able to download Yadawy App for for all Android devices. This way, it'll be easier for you to buy all the handmade products you love whenever you want them. Or, you'll be able to upload all your products once you're done with them!
            </p>
        </div>
    </section>

    <section class="section section-c">
            <div class="container">
                <h1 id="Why_Yadawy?" text-align:left>Why choose Yadwy for your business?</h1>
                <h3 align="left" style="color:rgb(192, 188, 188);">Make The coolest Products</h3>
                <p align="left">
                        Our website supports all types of cool handmahe best products out there and shoot for the stars. the sky's the limit. We want to offer the biggest selection of handmade products in the world and that can only be done through the top notch crafters like yourself. This is your oppurunity to get to the big stage and steal the lights with the best you can think of. We make it easy to create all sort of brands for all sorts of businesses.
                
                </p>
                <h3 align="left" style="color:rgb(192, 188, 188);">Sell Your Products</h3>
                <p align="left">
                        Through an access to a huge base of custom oducts to thousands of interested buyers or get highered and get payed for your service. done through the top notch crafters like yourself. This is your oppurunity to get to the big stage and steal the lights with the best you can think of. We make it easy to create all sort of brands for all sorts of businesses. Add a selection of your finest products or offer a service to create custo
                </p>
                <h3 align="left" style="color:rgb(192, 188, 188);">Make A Fortune</h3>
                <p align="left">
                        Our website supports all types of cool handmade products. We want to help people to get to the big stage and steal the lights with the best you can think of. We make it easy to create all sort of brands for all sorts of businesses. Add a selection of your finest products or offer a service to create custom ones, group products under selections and
                </p>
            </div>
    </section>

    <section class="section section-b">
            <h6>Copyright © 2018 Yadawy Inc. All rights reserved.</h6>       
    </section>