<div class="infocontainer form-control ">
  <h1 class="infofield">Complete your profile to Get your journey Started!</h1>
  <h5 class="infofield">Created hundreds of cool products! get Started now:</h5>

<%= render 'form', sellerinfo: @sellerinfo %>

<%= link_to 'Back', sellerinfos_path %>
</div>