<div class="infocontainer ">
<h1 class="infofield">Complete your profile to Get your journey Started!</h1>
<h5 class="infofield">Hundreds of cool products are waiting for you! get Started now:</h5>

<%= render 'form', buyerinfo: @buyerinfo %>

<%= link_to 'Back', buyerinfos_path %>
</div>